
body{
    margin:1px;
    padding: 0%;
    height:100%;
    width: 100%;
    background: rgb(209,29,218);
    background: linear-gradient(0deg, rgba(209,29,218,1) 4%, rgba(175,47,255,1) 37%, rgba(106,0,207,1) 100%);
    background-attachment: fixed;
}
nav{
    font-family: 'Courier New', Courier, monospace;
    background-color:#4B0082;
}

.ana{
        background-color: #00CED1;
}

  
.bio {
   word-wrap: break-word;
}